.noPadNoMar {
  margin: 0px;
  padding: 0px; }

input[type=submit] {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: normal;
  color: #0c7329; }

* {
  font-family: 'courier'; }

a {
  color: inherit;
  text-decoration: none; }

.debug {
  border: 2px dashed red;
  background: #deb91b; }

body {
  color: #0c7329;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background: repeating-linear-gradient(180deg, transparent 3px, #021207 6px, transparent 9px), repeating-linear-gradient(90deg, #03200c 3px, #021207 6px, #03200c 9px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }
  body main {
    box-sizing: content-box;
    flex: 1 1 auto;
    border: 2px solid #0c7329;
    margin: 10px;
    margin-top: 5px;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
    body main * {
      z-index: 2; }
    body main .background::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background: url("/asset/background/pexels-photo-311012-edit1.png");
      background-size: cover;
      background-position: 50% 0px;
      background-repeat: no-repeat;
      opacity: 0.20;
      z-index: -1; }
    body main input[type="text"], body main input[type="password"] {
      box-sizing: content-box;
      background: rgba(0, 0, 0, 0.35);
      color: #0c7329;
      border: none;
      margin: 4px 0px;
      padding: 2px 5px;
      font-size: 1em; }
      body main input[type="text"]:focus, body main input[type="password"]:focus {
        outline: none; }
    body main input[type="submit"] {
      background: none;
      color: #0c7329;
      border: none;
      border: 1px solid #0c7329;
      padding: 2px 5px;
      margin: 5px 10px;
      margin-left: 0px; }
      body main input[type="submit"]:focus {
        outline: none; }
      body main input[type="submit"]:hover {
        cursor: pointer;
        color: #18e753; }
    body main div.input {
      display: flex;
      align-items: center; }
    body main .tableWrapper .tableHeader th {
      border-bottom: 1px solid #0c7329; }
      body main .tableWrapper .tableHeader th:first-of-type {
        width: 40px;
        display: none; }
        body main .tableWrapper .tableHeader th:first-of-type + th {
          width: 120px; }
    body main .tableWrapper .table {
      overflow-y: scroll;
      max-height: 100vh; }
    body main .tableWrapper table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      font-size: 0.8em; }
      body main .tableWrapper table tr {
        background: rgba(0, 0, 0, 0.35); }
        body main .tableWrapper table tr td:first-of-type {
          width: 40px;
          display: none; }
          body main .tableWrapper table tr td:first-of-type + td {
            width: 120px; }
        body main .tableWrapper table tr:hover {
          color: #18e753;
          cursor: pointer; }
        body main .tableWrapper table tr td {
          text-overflow: ellipsis;
          white-space: nowrap; }
      body main .tableWrapper table tr:nth-child(even) {
        background: rgba(0, 0, 0, 0.15); }
      body main .tableWrapper table .row.prototype {
        display: none; }
    body main .database {
      box-sizing: border-box;
      padding: 15px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 300px;
      background: rgba(0, 0, 0, 0.3);
      height: auto; }
      body main .database.hidden {
        display: none; }
      body main .database > .filterExpDB input[type="text"] {
        width: 100%; }
      body main .database > .filterExpDB::after {
        content: "";
        display: block;
        height: 0px;
        width: 100%;
        border-top: 1px solid #0c7329;
        margin-bottom: 10px; }
      body main .database .button {
        width: 100px;
        margin: 5px;
        margin-bottom: 10px;
        margin-left: 0px;
        padding: 2px;
        font-size: 1em;
        line-height: 1em; }
      body main .database.tabHidden {
        display: none; }
    body main div.textToExplode {
      padding: 20px 0px;
      margin: auto;
      width: 100%; }
      body main div.textToExplode input {
        display: block;
        margin: auto;
        width: 60%;
        min-width: 150px;
        max-width: 300px;
        text-align: center;
        background: rgba(0, 0, 0, 0.35);
        color: #18e753;
        border: none;
        height: 2em;
        font-size: 1.5em; }
        body main div.textToExplode input:focus {
          outline: none; }
        body main div.textToExplode input::selection {
          background: rgba(68, 150, 24, 0.2); }
    body main .buttons {
      position: fixed;
      top: 95px;
      left: 0px;
      width: 100%;
      height: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.15em; }
      body main .buttons .button {
        width: 70px; }
      body main .buttons .explode {
        width: 90px; }
    body main .button {
      width: auto;
      height: 1em;
      text-align: center;
      margin: 0px 10px;
      padding: 3px;
      border: 1px solid #0c7329; }
      body main .button:hover {
        cursor: pointer;
        color: #18e753; }
    body main .tabs.active ~ .buttons {
      bottom: 20px; }
    body main .tabs {
      position: absolute;
      width: 100%;
      bottom: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap; }
      body main .tabs .labels {
        width: 100%;
        height: 1em;
        display: flex; }
        body main .tabs .labels.active::after {
          content: "";
          width: 100%;
          flex: 0 1 auto;
          border-bottom: 1px solid #0c7329; }
        body main .tabs .labels:not(.active) .label {
          border-bottom: none; }
        body main .tabs .labels .label {
          flex: 0 0 auto;
          padding: 0px 12px;
          background: rgba(0, 0, 0, 0.15);
          border: 1px solid #0c7329;
          border-left: none; }
          body main .tabs .labels .label.active {
            color: #18e753;
            background: rgba(0, 0, 0, 0.45);
            border-bottom: none; }
          body main .tabs .labels .label:hover {
            color: #18e753;
            background: rgba(0, 0, 0, 0.45);
            cursor: pointer; }
      body main .tabs .panels {
        height: auto;
        overflow: hidden;
        width: 100%; }
        body main .tabs .panels > div.tab.hidden {
          display: none; }
        body main .tabs .panels > div.tab {
          box-sizing: border-box;
          padding: 15px;
          background: rgba(0, 0, 0, 0.45);
          height: 175px;
          display: flex;
          justify-content: center;
          flex-flow: row nowrap; }
          body main .tabs .panels > div.tab > * {
            box-sizing: border-box;
            flex: 1 0 auto;
            min-width: 33%;
            width: 33%;
            max-width: 100%;
            display: flex;
            flex-flow: row wrap;
            padding: 5px;
            align-content: flex-start;
            justify-content: center; }
            body main .tabs .panels > div.tab > * ~ * {
              border-left: 1px solid #0c7329; }
            body main .tabs .panels > div.tab > * > * {
              margin: 2px 10px;
              width: 100%;
              height: 20px;
              padding: 0px;
              font-size: 1em; }
              body main .tabs .panels > div.tab > * > *.input label {
                width: 50%;
                max-width: 250px;
                min-width: 160px;
                line-height: 1em; }
        body main .tabs .panels > div.settings:not(.hidden) .sliders div.input {
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.25); }
          body main .tabs .panels > div.settings:not(.hidden) .sliders div.input label {
            flex: 1 0 auto;
            box-sizing: border-box;
            display: inline-block;
            min-width: 50%;
            height: auto;
            margin: 0px;
            padding: 0px 7px;
            vertical-align: middle; }
          body main .tabs .panels > div.settings:not(.hidden) .sliders div.input input[type="range"] {
            flex: 0 1 auto;
            height: 2px;
            width: 50%;
            background: rgba(39, 117, 35, 0.25);
            -webkit-appearance: none; }
            body main .tabs .panels > div.settings:not(.hidden) .sliders div.input input[type="range"]:focus {
              outline: none; }
            body main .tabs .panels > div.settings:not(.hidden) .sliders div.input input[type="range"]:hover {
              cursor: pointer; }
        body main .tabs .panels > div.editor .symbol > * input {
          width: 100%;
          padding: 0px;
          margin: 0px;
          height: 20px; }
        body main .tabs .panels > div.editor .symbol label {
          width: 50%;
          max-width: 250px;
          min-width: 160px;
          line-height: 1em; }
        body main .tabs .panels > div.editor .widgets > .button {
          height: 18px;
          width: 100%; }
        body main .tabs .panels > div.profile:not(.hidden) > div {
          height: 100%; }
          body main .tabs .panels > div.profile:not(.hidden) > div.userProfile:not(.logged) input[name="logout"] {
            display: none; }
          body main .tabs .panels > div.profile:not(.hidden) > div.userProfile.logged #userForm {
            display: none; }
          body main .tabs .panels > div.profile:not(.hidden) > div.saveExplosion > p {
            margin-bottom: 10px; }
        body main .tabs .panels > div.about:not(.hidden) .text {
          overflow-y: scroll; }
          body main .tabs .panels > div.about:not(.hidden) .text p {
            height: auto; }

div.display {
  position: fixed;
  width: 0px;
  height: 0px;
  top: 50vh;
  left: 50vw;
  padding: 0px; }
  div.display .gridWrapper {
    height: 0px;
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center; }
    div.display .gridWrapper .grid {
      box-sizing: content-box;
      width: auto;
      height: auto;
      flex: 1 0 auto;
      border: 1px solid #0c7329;
      overflow: visible; }
      div.display .gridWrapper .grid.hidden {
        display: none; }
      div.display .gridWrapper .grid:hover {
        cursor: pointer; }
      div.display .gridWrapper .grid .baseWrapper {
        width: 100%;
        height: 0px;
        position: relative; }
        div.display .gridWrapper .grid .baseWrapper .base {
          box-sizing: content-box;
          position: absolute;
          top: 0px;
          right: -14px;
          border-right: 14px solid #0c7329;
          width: 0px;
          height: 14px;
          background: rgba(0, 0, 0, 0.3);
          background-clip: content-box;
          opacity: 0.5;
          z-index: 0;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none; }
          div.display .gridWrapper .grid .baseWrapper .base:hover, div.display .gridWrapper .grid .baseWrapper .base.active {
            opacity: 1;
            width: 100%; }
      div.display .gridWrapper .grid .cellsWrapper {
        position: relative;
        flex: 1 0 auto;
        display: flex;
        flex-flow: row wrap;
        transform: rotateX(180deg); }

.cell, .pixel {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0px;
  margin: 1px;
  border-radius: 2px;
  background: radial-gradient(circle, #04250d, rgba(0, 0, 0, 0.05)); }
  .cell:hover, .pixel:hover {
    background: radial-gradient(circle, #18e753, #0a5c21);
    opacity: 0.5; }
  .cell.active, .active.pixel {
    background: radial-gradient(circle, #18e753, #0a5c21); }
  .cell.active:hover, .active.pixel:hover, .cell.active:active, .active.pixel:active {
    opacity: 0.15;
    box-shadow: none; }

.glow1, .cell:hover, .pixel:hover, .cell.active, .active.pixel, .pixel {
  box-shadow: 0px 0px 25px 2px #0c7329; }

.pixel {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: radial-gradient(circle, #18e753, #0a5c21); }
  .pixel.hidden {
    display: none; }

.centerLine {
  position: fixed;
  height: 100vh;
  width: 0px;
  border: 1px solid red;
  left: 50vw;
  top: 0px; }

/*# sourceMappingURL=master.css.map */
